{
   "extends": ["airbnb", "prettier", "prettier/react"],
   "parser": "babel-eslint",
   "rules": {
      "env": {
         "react/forbid-prop-types": 0,
         "browser": true,
         "node": true,
         "jest": {
            "testEnvironment": "jsdom"
         }
      },
      "globals": {
         "window": true,
         "browser": true,
         "node": true
      },
      "max-len": ["off"],
      "indent": 0,
      "react/jsx-indent": 0,
      "react/jsx-indent-props": 0,
      "import/no-unresolved": 0,
      "import/prefer-default-export": 0,
      "import/no-extraneous-dependencies": 0,
      "react/jsx-filename-extension": [
         1,
         {
            "extensions": [".js"]
         },
         {
            "plugins": ["prettier"],
            "rules": {
               "prettier/prettier": "error",
               "react/forbid-prop-types": 1
            }
         }
      ]
   },
   "settings": {
      "import/resolver": {
         "node": {
            "extensions": [
               ".js",
               ".jsx",
               ".ts",
               ".tsx"
            ]
         }
      }
   }
}